<div class="d-flex w-100 justify-content-between">
  <h5 class="mb-1">{{ name }}</h5>
  <small>{{ side }}</small>
</div>
<button type="button" class="btn-success" (click)="onLightClick()">Light</button>
<button type="button" class="btn-danger" (click)="onDarkClick()">Dark</button>
