<p *ngIf="tmp === ''">Proszę wprowadź dane:</p>
<p>

  Item: <input type="text" [(ngModel)]="tmp"> <br/>
  <button type="button" (click)="addItem()" [ngClass]="{'btn-success': tmp !== '', 'btn-danger': tmp === ''}">Add Item!</button>
  <button type="button" (click)="removeItem()" class="btn btn-info">Remove Item!</button>

  <br/>
  Items: {{ items }} <br/>
  tmp: {{ tmp }} <br/>

</p>
<ul class="list-group" >
  <li *ngFor="let myList of items let i = index" class="list-group-item"
      [ngStyle]="{'background-color': i % 2 === 0 ? 'pink' : 'white'}">{{i+1}} -> {{ myList }}</li>
</ul>
