<div class="container" style="padding: 2%">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" (click)="onChosenAll()">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Light</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Dark</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<app-list [characters] =  </app-list>
