<!--The content below is only a placeholder and can be replaced.-->
<h1>Cw 2</h1>
<ol>
  <li>Utwórz nowy komponent => CartComponent</li>
  <li>Dodaj pole do komponentu => 'items', które wstępnie będzie pustą tablicą
  </li>
  <li>Binduj 'items' i pozwól ustawienie wartości z zewnątrz (z AppComponent)
  </li>
  <li>Ustaw domyślne wartości w tabeli ['Apples', 'Bananas', 'Cherries']</li>
  <li>Dodaj przycisk 'Add Item' i pole typu input w komponencie CartComponent</li>
  <li>Binduj wartość wejściową do pola w komponencie CartComponent
     (Two-way binding), dodaj click listener do przycisku</li>
  <li>Wyemituj event, który będziesz nasłuchiwać w AppComponent po każdym klinięciu przycisku.
    Przekaż wartość wpisaną w polu input jako wartość emitowaną.
  </li>
  <li>Nasłuchuj emitowanego eventu w AppComponent, odczytaną wartość dodaj do tablicy 'items'.
  </li>
  <li>Wyświetl tablicę w funkcji, w której dodajesz elementu to tablicy, użyj console.log(nazwaTablicy)</li>
</ol>



<app-cart [items]="rootItems" (poKliknieciu)="poKliknieciuApp($event)"
          (poKliknieciuRemove)="poKliknieciuRemoveApp()"></app-cart>


