<!--<div class="list-group" style="padding-left: 10%; padding-right: 10%">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <app-item></app-item>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <app-item></app-item>
  </a>
</div>-->

<ul class="list-group" style="padding-left: 10%; padding-right: 10%">
  <li *ngFor="let myList of characters" class="list-group-item">
    <app-item [name]=myList[0] [side]=myList[1]></app-item>
  </li>
</ul>
