<h1>Zadania!</h1>
<ol>
  <li>Utwórz nowy komponent => DashboardComponent</li>
  <li>Wyświetl dowolne dane w komponencie</li>
  <li>Dodaj pole 'loadState' do komponentu i ustaw domyślną/startową wartość na 'loading'
  </li>
  <li>Wyświetl Loading state (zawartość pola 'loadState')</li>
  <li>Dodaj przycisk to komponentu, po kliknięciu zmień wartość 'loadState' na 'finished'</li>
  <li>Pozwól użytkownikowi wprowadzić własny 'loading text' używając bindowania dwukierunkowego</li>
</ol>
