<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<h3>Cars: </h3>
<table>
    <tr th:each="car : ${cars}">
        <td th:text="${car.owner}"></td>
        <td th:text="${car.numberOfDoors}"></td>
        <td th:text="${car.color}"></td>
        <td th:text="${car.type}"></td>
        <td th:text="${car.brand}"></td>
    </tr>
</table>
</body>
</html>